<!-- app-user></app-user -->
<!--- router-outlet / ---->


<div>
    <h1>Practicando con Angular</h1>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet justo at eros facilisis scelerisque. Pellentesque vehicula, nibh a pulvinar ultricies, tortor magna tristique nibh, vel interdum ligula augue vel sapien. Morbi aliquet purus a erat suscipit consequat. Aenean scelerisque, risus et ullamcorper blandit.
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet justo at eros facilisis scelerisque. Pellentesque vehicula, nibh a pulvinar ultricies, tortor magna tristique nibh, vel interdum ligula augue vel sapien. Morbi aliquet purus a erat suscipit consequat. Aenean scelerisque, risus et ullamcorper blandit, ipsum velit molestie felis, in condimentum justo tortor non leo. Suspendisse potenti. Nam sollicitudin luctus tempor. Aliquam pellentesque vulputate nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sed sem sodales, commodo magna ut, volutpat urna. Vivamus vehicula, diam sed tincidunt viverra, turpis orci vestibulum tortor, luctus volutpat turpis massa tempus mi. Suspendisse bibendum accumsan felis, sed suscipit ex molestie sodales. Nullam vestibulum ac risus vitae elementum.</p>
        <p>Suspendisse potenti. Nunc ut nisl augue. Sed massa enim, convallis sed tempor eget, pharetra eget lectus. Integer lorem tellus, efficitur vel tellus ut, malesuada pretium lacus. Phasellus sit amet convallis magna. Cras quis varius sem, vitae gravida eros. Donec sit amet eleifend ante. Mauris molestie id arcu eget vestibulum.</p>
    </article>
    @defer (on viewport){
        <app-comments></app-comments>
    }
    @placeholder {
        <p>Futuros comentarios</p>
    } @loading (minimum 1s) {
        <p>Cargando comentarios..</p>
    }
</div>

